@model EventWeb.Models.Event

@{
    ViewBag.Title = "Details";
}
<br/>

<div class="container">

    <div class="col-lg-8">
        <img class="img-responsive" src="@Url.Content(Model.ImgUrl)">
    </div>
    <div class="col-lg-4">
        <h1>@Html.DisplayFor(model => model.Title)</h1>
        <p>@Html.DisplayFor(model => model.Time.Date)</p>
        <p>@Html.DisplayFor(model => model.ShortDescription)</p>
        <div> Share This Event
            <a href="https://www.facebook.com/sharer/sharer.php?
     u=@Url.Encode(Request.Url.ToString())&t=@Url.Encode(Html.DisplayFor(model => model.Title).ToString())"
               target="_blank">
                <i class="fa fa-facebook-f fa-3x"></i>
            </a>
            <a href="https://twitter.com/intent/tweet?
   url=@Url.Encode(Request.Url.ToString())&text=@Url.Encode(Html.DisplayFor(model => model.Title).ToString())"
               target="_blank" title="Tweet">
                <i class="fa fa-twitter fa-3x"></i>
            </a>
        </div>

        <a class="btn btn-outline btn-success" href="#" role="button" style="width:100%;">Register</a>
    </div>
</div>

    <div class="container">
        <h2>About The Event</h2>
        <div class="col-lg-8">
            <h3>Desciption</h3>
            <p>@Html.DisplayFor(model => model.LongDescription)</p>
        </div>
        <div class="col-lg-4">
            <h3>Happening on</h3>
            <p>@Model.Time.Date.ToString("D")</p>
        </div>
    </div>
<p> 
    @Html.ActionLink("Back to all events", "Index",null, new { @class="btn btn-info"})
</p>
