@model EventWeb.Models.Event

@{
    ViewBag.Title = "Details";
}
<br/>

<div class="container">

    <div class="col-lg-8">
        <img class="img-responsive" src="@Url.Content(Model.ImgUrl)">
    </div>
    <div class="col-lg-4">
        <h1>@Html.DisplayFor(model => model.Name)</h1>
        <p>@Html.DisplayFor(model => model.Time.Date)</p>
        <p>@Html.DisplayFor(model => model.ShortDescription)</p>
        <i class="fa fa-facebook-f fa-3x"></i>
        <i class="fa fa-twitter fa-3x"></i>
        <i class="fa fa-hashtag fa-3x"></i>
        <a class="btn btn-outline btn-success" href="#" role="button" style="width:100%;">Register</a>
    </div>
</div>

    <div class="container">
        <h2>About The Event</h2>
        <div class="col-lg-8">
            <h3>Desciption</h3>
            <p>@Html.DisplayFor(model => model.LongDescription)</p>
        </div>
        <div class="col-lg-4">
            <h3>Date and Time</h3>
            <p>@Html.DisplayFor(model => model.Time.Date)</p>
        </div>
    </div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class="btn btn-info"}) |
    @Html.ActionLink("Back to List", "Index",null, new { @class="btn btn-info"})
</p>
