@model IEnumerable<EventWeb.Models.Event>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<br />
<div class="container">
    <div class="row">
        <div class="col-lg-7"></div>
        <div class="col-lg-2">
            <span class="event-sort" style="font-size:1.7rem">Sort By </span><div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Category <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">@Html.ActionLink("Category", "Index", new { sortOrder = ViewBag.Category })</a></li>
                    <li><a href="#">@Html.ActionLink("Location", "Index", new { sortOrder = ViewBag.Location })</a></li>
                </ul>
            </div>  
        </div>
        <div class="col-lg-3">
            @using (Html.BeginForm())
            {
                <p>
                    @Html.TextBox("SearchString",null ,new { placeholder="Search",style="height:35px; border-radius:5px;"})
                    <input type="submit" value="Search" class="btn btn-success event-search" style="border-radius:0;width:auto; "/>
                </p>
            }
        </div>
    </div>
    
    <br />

    <!-- Single button -->
    

    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {

                <div class="col-lg-4 col-md-4">
                    <div>
                        <div class="event-card" style="width: 37rem;">
                            <img src="@Url.Content(item.ImgUrl)" class="card-img-top img-responsive" alt="...">
                            <div class="event-card-header">
                                <h5 class="event-card-title" style="text-align:center">@Html.DisplayFor(modelItem => item.Name)</h5>
                                <p class="card-text">@Html.DisplayFor(modelItem => item.ShortDescription)</p>
                            </div>
                            <ul class="event-list-group list-group-flush">
                                <li class="event-list-group-item" style="text-align:center">@Html.DisplayFor(modelItem => item.Location) @Html.DisplayFor(modelItem => item.Time.Date)</li>

                            </ul>
                            @Html.ActionLink("Learn More", "Details", new { id = item.ID }, new { @class = "btn event-btn" })
                        </div>
                    </div>

                </div>
                <br />
            }

        </div>
    </div>
</div>


