@model IEnumerable<EventWeb.Models.Event>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<br />
<div class="container">


    <div class="row">
        <div class="col-lg-4"></div>
         
        @using (Html.BeginForm())
        {
            <div class="col-lg-5">
                <span class="event-sort" style="font-size:1.7rem">Select a Category </span>

                <div class="btn-group"> 
                <select class="form-control" name="category">
                    <option value="">All</option>
                    @foreach(var category in ViewBag.Categories as List<string>)
                    {
                        <option>@category</option>
                    }
                </select> 
                </div>
            </div>

            <div class="col-lg-3">
                <p>
                    @Html.TextBox("SearchString", null, new { placeholder = "Search by location or title", style = "height:35px; border-radius:5px;" })
                    <input type="submit" value="Search" class="btn btn-success event-search" style="border-radius:0;width:auto; "/>
                </p>
            </div>

        }
          
    </div>
    
    <br />

    <!-- Single button -->
    

    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                

            <div class="col-lg-4 col-md-4" style="margin-bottom:20px;">
                <a href="@Url.Action("Details", "event", new {id = item.ID })">
                    <div class="event-card" style="width: 37rem;">
                        <img src="@Url.Content(item.ImgUrl)" class="card-img-top img-responsive" alt="..." style="width:370px; height:230px;">
                        <div class="event-card-header">
                            <h5 class="event-card-title" style="text-align:center">@Html.DisplayFor(modelItem => item.Title)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.ShortDescription)</p>
                        </div>
                        <ul class="event-list-group list-group-flush">
                            <li class="event-list-group-item" style="text-align:center">@Html.DisplayFor(modelItem => item.Location) @item.Time.Date.ToString("D")</li>

                        </ul>
                        @Html.ActionLink("Learn More", "Details", new { id = item.ID }, new { @class = "btn event-btn" })
                    </div>
                </a>
                
            </div>

            }

        </div>
    </div>
</div>


