@model IEnumerable<EventWeb.Models.Event>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<br />
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            Sort By: <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Category <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">@Html.ActionLink("Category", "Index", new { sortOrder = ViewBag.Category })</a></li>
                    <li><a href="#">@Html.ActionLink("Location", "Index", new { sortOrder = ViewBag.Location })</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6">
            @using (Html.BeginForm())
            {
                <p>
                    @Html.TextBox("SearchString")
                    <input type="submit" value="Search" class="btn btn-success" />
                </p>
            }
        </div>
    </div>
    
    <br />

    <!-- Single button -->
    

    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col-lg-4">
                <div class="event-card" style="width: 30rem;">
                    <img src="@Url.Content(item.ImgUrl)" class="card-img-top img-responsive" alt="...">
                    <div class="event-card-header">
                        <h5 class="event-card-title" style="text-align:center">@Html.DisplayFor(modelItem => item.Name)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.ShortDescription)</p>
                    </div>
                    <ul class="event-list-group list-group-flush">
                        <li class="event-list-group-item" style="text-align:center">@Html.DisplayFor(modelItem => item.Location) @Html.DisplayFor(modelItem => item.Time.Date)</li>

                    </ul>
                    @Html.ActionLink("Learn More", "Details", new { id = item.ID }, new { @class = "btn event-btn" })
                </div>
            </div>

        }
    </div>
</div>


